* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
video {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
input,
select,
textarea {
  font-family: "맑은 고딕";
  outline: 0;
}
textarea {
  resize: none;
}
body {
  line-height: 1;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}

//반응형 데스크탑

#header {
  display: flex;
  line-height: 60px;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  .logo {
    justify-items: flex-start;
    display: flex;
    z-index: 2;
    img {
      align-items: center;
    }
  }
  .gnb {
    display: flex;
    li {
      line-height: 100px;
      a {
        margin: 0 15px;
        color: #fff;
        position: relative;
      }
      a:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -10px;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  a {
    color: black;
  }
  .hamburger {
    display: none;
  }
  .loginbtn {
    z-index: 2;
    line-height: 40px;
    height: 40px;
    background-color: white;
    width: 80px;
    text-align: center;
    justify-items: flex-end;
    border-radius: 10px;
  }
}
#cont1 {
  background-image: url("../img/profile.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .activemenu {
    .menulist {
      display: none;
    }
  }
  .context {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    h3 {
      font-size: 22px;
      line-height: 1.5;
    }
    h2 {
      margin-bottom: 36px;
      font-size: 44px;
    }
    p {
      margin-bottom: 46px;
      font-size: 16px;
    }
    .iconsbar {
      margin-top: 50px;
      i {
        margin: 0 25px;
        color: #fff;
        font-size: 30px;
      }
    }
  }
}

#cont2 {
  height: 100vh;
  display: flex;

  .left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: flex-end;
    .text {
      display: flex;
      flex-direction: column;
      width: 540px;
      h2 {
        font-size: 28px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 20px;
        color: #666;
        font-weight: normal;
        margin-bottom: 40px;
      }
      p {
        color: #666;
        line-height: 1.5;
      }
      .btns {
        a {
          background-color: #666;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin-top: 60px;
          margin-right: 20px;
          border-radius: 10px;
          transition: all 0.5s;
        }
        a:hover {
          background-color: #4caf50;
        }
      }
    }
  }
  .right {
    width: 50vw;
    display: flex;
    img {
      align-items: flex-end;
    }
  }
}

#cont3 {
  background-color: #fafafa;
  height: 1100px;
  .context {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 24px;
      color: #040c2c;
      margin-top: 90px;
    }
    p {
      font-size: 16px;
      color: #666;
      margin-top: 18px;
      font-style: italic;
    }
    p:after {
      display: block;
      content: "";
      width: 50%;
      background-color: #666;
      height: 2px;
      position: relative;
      left: 25%;
      margin-top: 28px;
      margin-bottom: 68px;
    }
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;

    .box {
      text-align: center;
      margin: 20px;
      background-color: #fff;
      padding: 20px;
      box-sizing: border-box;
      img {
        width: 100px;
        height: 100px;
        margin: 30px 0;
      }
      h2 {
        margin-bottom: 30px;
        color: #040c2c;
      }
      p {
        margin-bottom: 50px;
        color: #666;
        line-height: 1.5;
      }
      width: 350px;
    }
  }
}

#cont4 {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  .portfolio {
    width: 70%;
    height: auto;
    .context {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 24px;
        color: #040c2c;
        margin-top: 90px;
      }
      p {
        font-size: 16px;
        color: #666;
        margin-top: 18px;
        font-style: italic;
      }
      p:after {
        display: block;
        content: "";
        width: 50%;
        background-color: #666;
        height: 2px;
        position: relative;
        left: 25%;
        margin-top: 28px;
        margin-bottom: 68px;
      }
    }
    .btns {
      display: flex;
      justify-content: center;
      li {
        margin: 0 20px;
        margin-bottom: 40px;
        a {
          background-color: #666;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 10px;
          transition: all 0.5s;
        }
        a:hover {
          background-color: #4caf50;
        }
      }
    }
    .boxes {
      display: flex;
      flex-wrap: wrap;
      img {
        width: 100%;
        height: 100%;
      }
      .all {
        width: 23%;
        margin: 1%;
        background-color: orange;
      }
      .small {
        background-color: orange;
      }
      .big {
        width: 48%;
        background-color: orange;
      }
    }
  }
}

#cont5 {
  height: 370px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  .center {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    .cards {
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        margin-bottom: 24px;
      }
      h2 {
        font-size: 24px;
        color: #040c2c;
        margin-bottom: 24px;
      }
      p {
        color: #666;
      }
    }
  }
}

#cont6 {
  height: 540px;
  width: 100%;
  .view {
    width: 100%;
    height: 100%;
    position: relative;
    .circleBtn {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 60px;
      z-index: 5;
      display: flex;
      li a {
        display: block;
        width: 20px;
        height: 20px;
        background: #000;
        border-radius: 50%;
        margin: 0 10px;
        transition: all 0.5s;
      }
      li.on a {
        background: white;
        width: 50px;
        border-radius: 20px;
      }
    }
    .slider {
      width: 100%;
      height: 500px;
      position: relative;

      > div {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: all 1s;
        z-index: 3;
        .contents {
          text-align: center;
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid #fff;
            margin-top: 100px;
          }
          h2 {
            margin-top: 24px;
            color: #fff;
          }
          h3 {
            margin-top: 24px;
            color: #b2b2b2;
            font-size: 16px;
          }
          p {
            line-height: 1.5;
            width: 900px;
            margin: 24px auto;
            color: #fff;
          }
        }
      }
      > div:nth-child(1) {
        background-image: url("../img/post-img1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
      }
      > div:nth-child(2) {
        background-image: url("../img/post-img2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      > div:nth-child(3) {
        background-image: url("../img/post-img3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

#cont7 {
  .context {
    text-align: center;
    h2 {
      font-size: 24px;
      color: #040c2c;
      margin-bottom: 24px;
      padding-top: 120px;
    }
    p {
      margin: 24px auto;
      color: #666;
      font-style: italic;
      line-height: 1.5;
    }
    p::after {
      display: block;
      content: "";
      width: 120px;
      background-color: #666;
      height: 2px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 28px;
      margin-bottom: 68px;
    }
  }
  .logos {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
    overflow: hidden;
    img {
      width: 100px;
      height: 100px;
    }
  }
}

#cont8 {
  background-color: #fafafa;
  padding-bottom: 120px;
  .context {
    text-align: center;
    h2 {
      font-size: 24px;
      color: #040c2c;
      margin-bottom: 24px;
      padding-top: 120px;
    }
    p {
      margin: 24px auto;
      color: #666;
      font-style: italic;
      line-height: 1.5;
    }
    p::after {
      display: block;
      content: "";
      width: 120px;
      background-color: #666;
      height: 2px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 28px;
      margin-bottom: 68px;
    }
  }
  .container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .cards {
      border: 1px solid #b2b2b2;
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      width: 350px;
      .date {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #fff;
        line-height: 20px;
        width: 40px;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
      }
      img {
        width: 100%;
      }
      .contents {
        background-color: #fff;
        span {
          color: #666;
          margin-bottom: 10px;
        }
        span:last-of-type {
          position: relative;
          top: -5px;
          left: 10px;
        }
        padding: 25px;
        box-sizing: border-box;
        text-align: left;
        h2 {
          color: #494949;
          font-size: 20px;
        }
        p {
          line-height: 1.5;
          color: #666;
          font-size: 16px;
          margin: 30px 0;
        }
        a {
          color: #666;
          font-weight: bold;
        }
      }
    }
  }
}

#cont9 {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  padding-top: 120px;
  .left {
    width: 40%;
    h2 {
      font-size: 24px;
      color: #040c2c;
      margin-bottom: 24px;
    }
    p {
      margin: 24px auto;
      color: #666;
      display: inline-block;
      line-height: 1.5;
      position: relative;
    }
    p:first-of-type {
      top: 10px;
    }
    span {
      position: relative;
      top: 5px;
    }
  }
  .right {
    width: 60%;
    h2 {
      font-size: 24px;
      color: #040c2c;
      margin-bottom: 24px;
    }
    input {
      width: 300px;
      line-height: 40px;
      text-indent: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    textarea {
      resize: none;
      width: 631px;
      text-indent: 20px;
      padding-top: 10px;
    }
  }
  .btn {
    background-color: #666;
    border: none;
    color: white;
    width: 200px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    transition: all 0.5s;
    margin-bottom: 120px;
  }
  .btn:hover {
    background-color: #4caf50;
  }
}

#footer {
  display: flex;
  flex-direction: column;
  background-color: #040c2c;
  padding: 60px 0;
  align-items: center;
  justify-content: center;
  img {
    width: 50px;
    height: 50px;
  }
  .iconslist {
    margin: 30px 0;
    i {
      color: #fff;
      font-size: 20px;
      margin: 0 20px;
    }
  }
  .signature {
    i {
      color: #666;
      span {
        color: #fff;
      }
    }
  }
  .copyright {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 30px;
  }
}

//반응형 1200px까지

@media screen and (max-width: 1200px) {
  #header {
    width: 100%;
    .logo {
      margin-left: 30px;
    }
    .loginbtn {
      margin-right: 30px;
    }
  }

  #cont2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .left {
      width: 50%;
      padding-left: 50px;
      padding-right: 50px;
      .text {
        width: auto;
      }
    }
    .right {
      width: 50%;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      img {
        height: 80%;
        position: absolute;
      }
    }
  }

  #cont3 {
    width: 100%;
    height: auto;
    .boxes {
      padding-bottom: 50px;
      width: 100%;
      .box {
        width: 31.333333%;
        margin: 1%;
      }
    }
  }

  #cont4 {
    .portfolio {
      width: 100%;
      height: auto;
    }
  }
  #cont7 {
    .logos {
      img:last-of-type {
        display: none;
      }
    }
  }
  #cont8 {
    .container {
      width: 100%;

      .cards {
        margin: 0 1%;
        width: 31%;
      }
    }
  }
  #cont9 {
    width: 100%;
    .left {
      width: 38%;
      margin-left: 2%;
    }
    .right {
      width: 60%;

      input {
        width: 44%;
        margin-right: 3%;
      }
      textarea {
        width: 93%;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  #header {
    width: 100%;
    height: 100px;
    .logo {
      margin-left: 30px;
    }
    .loginbtn {
      margin-right: 30px;
    }
    .gnb {
      display: none;
    }
    .hamburger {
      display: block;
      position: absolute;
      right: 120px;
      top: 12px;
    }
  }
  #cont1 {
    .activemenu {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      position: relative;
      top: -100%;
      left: 0%;
      transition: all 0.5s;
      .menulist {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        li a {
          color: #fff;
          font-size: 40px;
          line-height: 2;
          transition: all 0.5s;
        }
        a:hover {
          color: #4caf50;
        }
      }
    }
  }
  #cont2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .left {
      width: 50%;
      padding-left: 50px;
      padding-right: 0px;
      z-index: 5;
      .text {
        width: auto;
      }
    }
    .right {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 70%;
        position: absolute;
      }
    }
  }
  #cont3 {
    .boxes {
      .box {
        width: 46%;
        margin: 2%;
      }
    }
  }
  #cont4 {
    .portfolio {
      .btns {
        li a {
          font-size: 13px;
          padding: 15px 32px;
        }
      }
    }
  }
  #cont6 {
    .view {
      .slider {
        > div {
          .contents {
            p {
              width: 80%;
            }
          }
        }
      }
    }
  }
  #cont7 {
    .logos {
      img:last-of-type {
        display: none;
      }
      img:nth-last-of-type(2) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #cont2 {
    flex-direction: column;
    height: 100vh;
    margin-top: 100px;
    .left {
      flex-direction: column;
      width: 100%;
      padding: 0;
      .text {
        width: 90%;
        margin: 0 auto;
        padding-left: 0;
        text-align: left;

        .btns {
          a {
            background-color: #666;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 60px;
            margin-right: 20px;
            border-radius: 10px;
            transition: all 0.5s;
          }
          a:hover {
            background-color: #4caf50;
          }
        }
      }
    }
    .right {
      height: 100%;
      width: 100%;
      right: 0px;
      margin: 0 auto;
      img {
        height: 100%;
      }
    }
  }
  #cont3 {
    .boxes {
      .box {
        width: 46%;
        margin: 2%;
      }
    }
  }
  #cont4 {
    .portfolio {
      width: 95%;
      .btns {
        li {
          margin: 0 2%;
          margin-bottom: 40px;
          a {
            padding: 15px 10px;
          }
          a:hover {
            background-color: #4caf50;
          }
        }
      }
      .boxes {
        .all {
          width: 48%;
          margin: 1%;
          background-color: orange;
        }
      }
    }
  }
  #cont5 {
    height: auto;
    padding: 50px 0;
    .center {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      margin: 0 auto;
      justify-content: space-between;
      .cards {
        text-align: center;
        width: 48%;
        margin: 1%;
        margin: 20px 0;
      }
    }
  }
  #cont7 {
    .logos {
      img {
        width: 33.333333%;
        height: auto;
      }
      img:nth-last-of-type(3) {
        display: none;
      }
    }
  }
  #cont8 {
    .container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .cards {
        width: 95%;
        margin: 3% auto;
      }
    }
  }
  #cont9 {
    width: 100%;
    flex-direction: column;
    .left {
      width: 95%;
      margin: 2.5%;
    }
    .right {
      width: 95%;
      margin: 2.5%;
      input {
        width: 100%;
      }
      textarea {
        width: 100%;
      }
    }
  }
}
