@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input,
select,
textarea {
  font-family: "맑은 고딕";
  outline: 0;
}

textarea {
  resize: none;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}

#header {
  display: flex;
  line-height: 60px;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
}
#header .logo {
  justify-items: flex-start;
  display: flex;
  z-index: 2;
}
#header .logo img {
  align-items: center;
}
#header .gnb {
  display: flex;
}
#header .gnb li {
  line-height: 100px;
}
#header .gnb li a {
  margin: 0 15px;
  color: #fff;
  position: relative;
}
#header .gnb li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#header .gnb li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#header a {
  color: black;
}
#header .hamburger {
  display: none;
}
#header .loginbtn {
  z-index: 2;
  line-height: 40px;
  height: 40px;
  background-color: white;
  width: 80px;
  text-align: center;
  justify-items: flex-end;
  border-radius: 10px;
}

#cont1 {
  background-image: url("../img/profile.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#cont1 .activemenu .menulist {
  display: none;
}
#cont1 .context {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#cont1 .context h3 {
  font-size: 22px;
}
#cont1 .context h2 {
  margin-bottom: 36px;
  font-size: 44px;
}
#cont1 .context p {
  margin-bottom: 46px;
  font-size: 16px;
}
#cont1 .context .iconsbar {
  margin-top: 50px;
}
#cont1 .context .iconsbar i {
  margin: 0 25px;
  color: #fff;
  font-size: 30px;
}

#cont2 {
  height: 100vh;
  display: flex;
}
#cont2 .left {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: flex-end;
}
#cont2 .left .text {
  display: flex;
  flex-direction: column;
  width: 540px;
}
#cont2 .left .text h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
#cont2 .left .text h3 {
  font-size: 20px;
  color: #666;
  font-weight: normal;
  margin-bottom: 40px;
}
#cont2 .left .text p {
  color: #666;
  line-height: 1.5;
}
#cont2 .left .text .btns a {
  background-color: #666;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 60px;
  margin-right: 20px;
  border-radius: 10px;
  transition: all 0.5s;
}
#cont2 .left .text .btns a:hover {
  background-color: #4caf50;
}
#cont2 .right {
  width: 50vw;
  display: flex;
}
#cont2 .right img {
  align-items: flex-end;
}

#cont3 {
  background-color: #fafafa;
  height: 1100px;
}
#cont3 .context {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cont3 .context h2 {
  font-size: 24px;
  color: #040c2c;
  margin-top: 90px;
}
#cont3 .context p {
  font-size: 16px;
  color: #666;
  margin-top: 18px;
  font-style: italic;
}
#cont3 .context p:after {
  display: block;
  content: "";
  width: 50%;
  background-color: #666;
  height: 2px;
  position: relative;
  left: 25%;
  margin-top: 28px;
  margin-bottom: 68px;
}
#cont3 .boxes {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
#cont3 .boxes .box {
  text-align: center;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  width: 350px;
}
#cont3 .boxes .box img {
  width: 100px;
  height: 100px;
  margin: 30px 0;
}
#cont3 .boxes .box h2 {
  margin-bottom: 30px;
  color: #040c2c;
}
#cont3 .boxes .box p {
  margin-bottom: 50px;
  color: #666;
  line-height: 1.5;
}

#cont4 {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#cont4 .portfolio {
  width: 70%;
  height: auto;
}
#cont4 .portfolio .context {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cont4 .portfolio .context h2 {
  font-size: 24px;
  color: #040c2c;
  margin-top: 90px;
}
#cont4 .portfolio .context p {
  font-size: 16px;
  color: #666;
  margin-top: 18px;
  font-style: italic;
}
#cont4 .portfolio .context p:after {
  display: block;
  content: "";
  width: 50%;
  background-color: #666;
  height: 2px;
  position: relative;
  left: 25%;
  margin-top: 28px;
  margin-bottom: 68px;
}
#cont4 .portfolio .btns {
  display: flex;
  justify-content: center;
}
#cont4 .portfolio .btns li {
  margin: 0 20px;
  margin-bottom: 40px;
}
#cont4 .portfolio .btns li a {
  background-color: #666;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.5s;
}
#cont4 .portfolio .btns li a:hover {
  background-color: #4caf50;
}
#cont4 .portfolio .boxes {
  display: flex;
  flex-wrap: wrap;
}
#cont4 .portfolio .boxes img {
  width: 100%;
  height: 100%;
}
#cont4 .portfolio .boxes .all {
  width: 23%;
  margin: 1%;
  background-color: orange;
}
#cont4 .portfolio .boxes .small {
  background-color: orange;
}
#cont4 .portfolio .boxes .big {
  width: 48%;
  background-color: orange;
}

#cont5 {
  height: 370px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}
#cont5 .center {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-evenly;
}
#cont5 .center .cards {
  text-align: center;
}
#cont5 .center .cards img {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
}
#cont5 .center .cards h2 {
  font-size: 24px;
  color: #040c2c;
  margin-bottom: 24px;
}
#cont5 .center .cards p {
  color: #666;
}

#cont6 {
  height: 540px;
  width: 100%;
}
#cont6 .view {
  width: 100%;
  height: 100%;
  position: relative;
}
#cont6 .view .circleBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  z-index: 5;
  display: flex;
}
#cont6 .view .circleBtn li a {
  display: block;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  margin: 0 10px;
  transition: all 0.5s;
}
#cont6 .view .circleBtn li.on a {
  background: white;
  width: 50px;
  border-radius: 20px;
}
#cont6 .view .slider {
  width: 100%;
  height: 500px;
  position: relative;
}
#cont6 .view .slider > div {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 1s;
  z-index: 3;
}
#cont6 .view .slider > div .contents {
  text-align: center;
}
#cont6 .view .slider > div .contents img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-top: 100px;
}
#cont6 .view .slider > div .contents h2 {
  margin-top: 24px;
  color: #fff;
}
#cont6 .view .slider > div .contents h3 {
  margin-top: 24px;
  color: #b2b2b2;
  font-size: 16px;
}
#cont6 .view .slider > div .contents p {
  line-height: 1.5;
  width: 900px;
  margin: 24px auto;
  color: #fff;
}
#cont6 .view .slider > div:nth-child(1) {
  background-image: url("../img/post-img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
#cont6 .view .slider > div:nth-child(2) {
  background-image: url("../img/post-img2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#cont6 .view .slider > div:nth-child(3) {
  background-image: url("../img/post-img3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cont7 .context {
  text-align: center;
}
#cont7 .context h2 {
  font-size: 24px;
  color: #040c2c;
  margin-bottom: 24px;
  padding-top: 120px;
}
#cont7 .context p {
  margin: 24px auto;
  color: #666;
  font-style: italic;
}
#cont7 .context p::after {
  display: block;
  content: "";
  width: 120px;
  background-color: #666;
  height: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 28px;
  margin-bottom: 68px;
}
#cont7 .logos {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 120px;
}
#cont7 .logos img {
  width: 160px;
  height: 160px;
}

#cont8 {
  background-color: #fafafa;
  padding-bottom: 120px;
}
#cont8 .context {
  text-align: center;
}
#cont8 .context h2 {
  font-size: 24px;
  color: #040c2c;
  margin-bottom: 24px;
  padding-top: 120px;
}
#cont8 .context p {
  margin: 24px auto;
  color: #666;
  font-style: italic;
}
#cont8 .context p::after {
  display: block;
  content: "";
  width: 120px;
  background-color: #666;
  height: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 28px;
  margin-bottom: 68px;
}
#cont8 .container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#cont8 .container .cards {
  border: 1px solid #b2b2b2;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  width: 350px;
}
#cont8 .container .cards .date {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  line-height: 20px;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
#cont8 .container .cards img {
  width: 100%;
}
#cont8 .container .cards .contents {
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  text-align: left;
}
#cont8 .container .cards .contents span {
  color: #666;
  margin-bottom: 10px;
}
#cont8 .container .cards .contents span:last-of-type {
  position: relative;
  top: -5px;
  left: 10px;
}
#cont8 .container .cards .contents h2 {
  color: #494949;
  font-size: 20px;
}
#cont8 .container .cards .contents p {
  line-height: 1.5;
  color: #666;
  font-size: 16px;
  margin: 30px 0;
}
#cont8 .container .cards .contents a {
  color: #666;
  font-weight: bold;
}

#cont9 {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  padding-top: 120px;
}
#cont9 .left {
  width: 40%;
}
#cont9 .left h2 {
  font-size: 24px;
  color: #040c2c;
  margin-bottom: 24px;
}
#cont9 .left p {
  margin: 24px auto;
  color: #666;
  display: inline-block;
  line-height: 1.5;
  position: relative;
}
#cont9 .left p:first-of-type {
  top: 10px;
}
#cont9 .left span {
  position: relative;
  top: 5px;
}
#cont9 .right {
  width: 60%;
}
#cont9 .right h2 {
  font-size: 24px;
  color: #040c2c;
  margin-bottom: 24px;
}
#cont9 .right input {
  width: 300px;
  line-height: 40px;
  text-indent: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#cont9 .right textarea {
  resize: none;
  width: 631px;
  text-indent: 20px;
  padding-top: 10px;
}
#cont9 .btn {
  background-color: #666;
  border: none;
  color: white;
  width: 200px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  transition: all 0.5s;
  margin-bottom: 120px;
}
#cont9 .btn:hover {
  background-color: #4caf50;
}

#footer {
  display: flex;
  flex-direction: column;
  background-color: #040c2c;
  padding: 60px 0;
  align-items: center;
  justify-content: center;
}
#footer img {
  width: 50px;
  height: 50px;
}
#footer .iconslist {
  margin: 30px 0;
}
#footer .iconslist i {
  color: #fff;
  font-size: 20px;
  margin: 0 20px;
}
#footer .signature i {
  color: #666;
}
#footer .signature i span {
  color: #fff;
}
#footer .copyright {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  #header {
    width: 100%;
  }
  #header .logo {
    margin-left: 30px;
  }
  #header .loginbtn {
    margin-right: 30px;
  }
  #cont2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #cont2 .left {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
  }
  #cont2 .left .text {
    width: auto;
  }
  #cont2 .right {
    width: 50%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #cont2 .right img {
    height: 80%;
    position: absolute;
  }
  #cont3 {
    width: 100%;
    height: auto;
  }
  #cont3 .boxes {
    padding-bottom: 50px;
    width: 100%;
  }
  #cont3 .boxes .box {
    width: 290px;
  }
  #cont4 .portfolio {
    width: 100%;
    height: auto;
  }
  #cont8 .container {
    width: 100%;
  }
  #cont8 .container .cards {
    margin: 0 1%;
    width: 31%;
  }
  #cont9 {
    width: 100%;
  }
  #cont9 .left {
    width: 38%;
    margin-left: 2%;
  }
  #cont9 .right {
    width: 60%;
  }
  #cont9 .right input {
    width: 44%;
    margin-right: 3%;
  }
  #cont9 .right textarea {
    width: 93%;
  }
}
@media screen and (max-width: 990px) {
  #header {
    width: 100%;
    height: 100px;
  }
  #header .logo {
    margin-left: 30px;
  }
  #header .loginbtn {
    margin-right: 30px;
  }
  #header .gnb {
    display: none;
  }
  #header .hamburger {
    display: block;
    position: absolute;
    right: 14%;
    top: 12px;
  }
  #cont1 .activemenu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    top: -100%;
    left: 0%;
    transition: all 0.5s;
  }
  #cont1 .activemenu .menulist {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  #cont1 .activemenu .menulist li a {
    color: #fff;
    font-size: 40px;
    line-height: 2;
    transition: all 0.5s;
  }
  #cont1 .activemenu .menulist a:hover {
    color: #4caf50;
  }
  #cont2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #cont2 .left {
    width: 50%;
    padding-left: 50px;
    padding-right: 0px;
    z-index: 5;
  }
  #cont2 .left .text {
    width: auto;
  }
  #cont2 .right {
    width: 50%;
    right: -200px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #cont2 .right img {
    height: 80%;
    position: absolute;
  }
  #cont4 .portfolio .btns li a {
    font-size: 14px;
    padding: 15px 32px;
  }
  #cont6 .view .slider > div .contents p {
    width: 80%;
  }
  #cont7 .logos img:last-of-type {
    display: none;
  }
  #cont7 .logos img:nth-last-of-type(2) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #cont2 {
    flex-direction: column;
    height: 100vh;
    margin-top: 100px;
  }
  #cont2 .left {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  #cont2 .left .text {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    text-align: left;
  }
  #cont2 .left .text .btns a {
    background-color: #666;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 10px;
    transition: all 0.5s;
  }
  #cont2 .left .text .btns a:hover {
    background-color: #4caf50;
  }
  #cont2 .right {
    height: 100%;
    width: 100%;
    right: 0px;
    margin: 0 auto;
  }
  #cont2 .right img {
    height: 100%;
  }
  #cont4 .portfolio {
    width: 95%;
  }
  #cont4 .portfolio .btns li {
    margin: 0 20px;
    margin-bottom: 40px;
  }
  #cont4 .portfolio .btns li a {
    padding: 15px 20px;
  }
  #cont4 .portfolio .btns li a:hover {
    background-color: #4caf50;
  }
  #cont4 .portfolio .boxes .all {
    width: 48%;
    margin: 1%;
    background-color: orange;
  }
  #cont5 {
    height: auto;
    padding: 50px 0;
  }
  #cont5 .center {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
  }
  #cont5 .center .cards {
    text-align: center;
    width: 48%;
    margin: 1%;
    margin: 20px 0;
  }
  #cont7 .logos img:nth-last-of-type(3) {
    display: none;
  }
  #cont8 .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #cont8 .container .cards {
    width: 95%;
    margin: 3% auto;
  }
  #cont9 {
    width: 100%;
    flex-direction: column;
  }
  #cont9 .left {
    width: 95%;
    margin: 2.5%;
  }
  #cont9 .right {
    width: 95%;
    margin: 2.5%;
  }
  #cont9 .right input {
    width: 100%;
  }
  #cont9 .right textarea {
    width: 100%;
  }
}