* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
video {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
input,
select,
textarea {
  font-family: "맑은 고딕";
  outline: 0;
}
textarea {
  resize: none;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}
#header {
  display: flex;
  line-height: 60px;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  .logo {
    margin-right: 260px;
    display: flex;
    z-index: 2;
    img {
      align-items: center;
    }
  }
  .gnb {
    display: flex;
    li {
      line-height: 100px;
      a {
        margin: 0 15px;
        color: #fff;
        position: relative;
      }
      a:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -10px;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  a {
    color: black;
  }
  .loginbtn {
    z-index: 2;
    line-height: 40px;
    height: 40px;
    background-color: white;
    width: 80px;
    text-align: center;
    margin-left: 260px;
    border-radius: 10px;
  }
}
#cont1 {
  background-image: url("../img/profile.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .context {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h3 {
      font-size: 22px;
    }
    h2 {
      margin-bottom: 36px;
      font-size: 44px;
    }
    p {
      margin-bottom: 46px;
      font-size: 16px;
    }
    .iconsbar {
      margin-top: 50px;
      i {
        margin: 0 25px;
        color: #fff;
        font-size: 30px;
      }
    }
  }
}

#cont2 {
  height: 100vh;
  display: flex;

  .left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: flex-end;
    .text {
      display: flex;
      flex-direction: column;
      width: 540px;
      h2 {
        font-size: 28px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 20px;
        color: #666;
        font-weight: normal;
        margin-bottom: 40px;
      }
      p {
        color: #666;
        line-height: 1.5;
      }
      .btns {
        a {
          background-color: #666;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin-top: 60px;
          margin-right: 20px;
          border-radius: 10px;
          transition: all 0.5s;
        }
        a:hover {
          background-color: #4caf50;
        }
      }
    }
  }
  .right {
    width: 50vw;
    display: flex;
    img {
      align-items: flex-end;
    }
  }
}

#cont3 {
  background-color: #fafafa;
  height: 1100px;
  .context {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 24px;
      color: #040c2c;
      margin-top: 90px;
    }
    p {
      font-size: 16px;
      color: #666;
      margin-top: 18px;
      font-style: italic;
    }
    p:after {
      display: block;
      content: "";
      width: 50%;
      background-color: #666;
      height: 2px;
      position: relative;
      left: 25%;
      margin-top: 28px;
      margin-bottom: 68px;
    }
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;

    .box {
      text-align: center;
      margin: 20px;
      background-color: #fff;
      padding: 20px;
      box-sizing: border-box;
      img {
        width: 100px;
        height: 100px;
        margin: 30px 0;
      }
      h2 {
        margin-bottom: 30px;
        color: #040c2c;
      }
      p {
        margin-bottom: 50px;
        color: #666;
      }
      width: 350px;
    }
  }
}

#cont4 {
  display: flex;
  justify-content: center;
  .portfolio {
    width: 70%;
    height: 1500px;
    .context {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 24px;
        color: #040c2c;
        margin-top: 90px;
      }
      p {
        font-size: 16px;
        color: #666;
        margin-top: 18px;
        font-style: italic;
      }
      p:after {
        display: block;
        content: "";
        width: 50%;
        background-color: #666;
        height: 2px;
        position: relative;
        left: 25%;
        margin-top: 28px;
        margin-bottom: 68px;
      }
    }
    .btns {
      display: flex;
      justify-content: center;
      li {
        margin: 0 20px;
        margin-bottom: 40px;
        a {
          background-color: #666;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin-top: 60px;
          margin-right: 20px;
          border-radius: 10px;
          transition: all 0.5s;
        }
        a:hover {
          background-color: #4caf50;
        }
      }
    }
    .boxes {
      display: flex;
      flex-wrap: wrap;

      img {
        width: 100%;
        height: 100%;
      }
      .all {
        width: 31.33333%;
        margin: 1%;
        background-color: orange;
      }
    }
  }
}

#cont5 {
  height: 370px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  .center {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    .cards {
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        margin-bottom: 24px;
      }
      h2 {
        font-size: 24px;
        color: #040c2c;
        margin-bottom: 24px;
      }
      p {
        color: #666;
      }
    }
  }
}

#cont6 {
  height: 540px;
  width: 100%;
  .view {
    width: 100%;
    height: 100%;
    position: relative;
    .circleBtn {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 60px;
      z-index: 5;
      display: flex;
      li a {
        display: block;
        width: 20px;
        height: 20px;
        background: #000;
        border-radius: 50%;
        margin: 0 10px;
        transition: all 0.5s;
      }
      li.on a {
        background: white;
        width: 50px;
        border-radius: 20px;
      }
    }
    .slider {
      width: 100%;
      height: 500px;
      position: relative;

      > div {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: all 0.5s;
        z-index: 2;
        .contents {
          text-align: center;
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid #fff;
            margin-top: 100px;
          }
          h2 {
            margin-top: 24px;
            color: #fff;
          }
          h3 {
            margin-top: 24px;
            color: #b2b2b2;
            font-size: 16px;
          }
          p {
            line-height: 1.5;
            width: 900px;
            margin: 24px auto;
            color: #fff;
          }
        }
      }
      > div:nth-child(1) {
        background-image: url("../img/post-img1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
      }
      > div:nth-child(2) {
        background-image: url("../img/post-img2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      > div:nth-child(3) {
        background-image: url("../img/post-img3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

#cont7 {
  .context {
    text-align: center;
    h2 {
      font-size: 24px;
      color: #040c2c;
      margin-bottom: 24px;
      padding-top: 120px;
    }
    p {
      margin: 24px auto;
      color: #666;
      font-style: italic;
    }
    p::after {
      display: block;
      content: "";
      width: 120px;
      background-color: #666;
      height: 2px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 28px;
      margin-bottom: 68px;
    }
  }
  .logos {
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 120px;
    img {
      width: 160px;
      height: 160px;
    }
  }
}

#cont8 {
  background-color: #fafafa;
  padding-bottom: 120px;
  .context {
    text-align: center;
    h2 {
      font-size: 24px;
      color: #040c2c;
      margin-bottom: 24px;
      padding-top: 120px;
    }
    p {
      margin: 24px auto;
      color: #666;
      font-style: italic;
    }
    p::after {
      display: block;
      content: "";
      width: 120px;
      background-color: #666;
      height: 2px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 28px;
      margin-bottom: 68px;
    }
  }
  .container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .cards {
      border: 1px solid #b2b2b2;
      border-radius: 6px;
      position: relative;

      width: 350px;
      .date {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #fff;
        line-height: 20px;
        width: 40px;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
      }
      img {
        width: 100%;
      }
      .contents {
        span {
          color: #666;
          margin-bottom: 10px;
        }
        span:last-of-type {
          position: relative;
          top: -5px;
          left: 10px;
        }
        padding: 25px;
        box-sizing: border-box;
        text-align: left;
        h2 {
          color: #494949;
          font-size: 20px;
        }
        p {
          line-height: 1.5;
          color: #666;
          font-size: 16px;
          margin: 30px 0;
        }
        a {
          color: #666;
          font-weight: bold;
        }
      }
    }
  }
}
